/***** COLORS *****/
$color-primary: #414451; // dark green from logo
$color-secondary: #575b6d; // light green from logo
$color-background: #d5f2ef; // yellow from logo
$color-contrast: #ffffff; // white
$color-error: #bf2c3d; // red complementary of green from logo
$color-warning: #f6c863; // yellow from logo
$color-info: #6391f6; // blue complementary of yellow from logo
$color-success: #575b6d; // light green from logo

/***** SPACING *****/
$space-1: 0.75rem;
$space-2: 1rem;
$space-3: 1.5rem;
$space-4: 2rem;
$space-5: 3rem;
